.footer-container {
    display: flex;
    flex-direction: row;
    z-index: 500;
    
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0%;
    border-top: 0.5px solid white;

    position: absolute;

  background-image: linear-gradient(to bottom, #000000, #181818); /* dark purple gradient */
  background-color: linear-gradient(to bottom, #333, #444); /* 3D black gradient */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* increased depth and darkness */
  box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.3); /* slight highlight */
}

.footer-container-m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.footer-container-s {
    display: flex;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    padding: 10px 10px;
}